*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
# Kotlin/JS and Kotlin/Wasm build artifacts
kotlin-js-store/
*.lock
yarn.lock
package-lock.json

# IDE specific
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db
